# Terraform working directories
**/.terraform/
**/.terraform-ci/

# Terraform state files
*.tfstate
*.tfstate.*

# Commit .terraform.lock.hcl to Git.

# Local backend configuration
backend.config

# Variable files that may contain secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan

# Crash logs
crash.log
crash.*.log